<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">

    <!-- <img src="/images/logo-red.png" alt="logo2" class="logo2 float-left" width="100px" style="display: none;"> -->
    <script>
      $(window).scroll(function() {
        if ($(this).scrollTop() > 175){
            $('nav').addClass("sticky");
        }
        else{
            $('nav').removeClass("sticky");
        }
        });
      AOS.init();
    </script>
    <div>
      <a class="top-link float-left" href="/">5600 POST ROAD E GREENWICH RI 02818</a>
      <a class="top-link float-right" href="/">401.885.3900</a>
    </div>
    <br>
    <a href="#"><img src="/images/logo-red-diamond.png" alt="logo" class="logo" width="100px"></a>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%# <a class="navbar-brand" href="#"><img src="/images/logo-red.png" alt="logo" class="logo" width="300px"></a>%>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/">HOME</a>
      </li>
      <li>
        <a href="/team">TEAM</a>
      </li>
      <li>
        <a href="/services">SERVICES</a>
      </li>
      <li>
        <a href="/appointment">MAKE AN APPOINTMENT</a>
      </li>
      <li>
        <a href="/blog">BLOG</a>
      </li>
      <li>
        <a href="/contact">CONTACT US</a>
      </li>
      <li><a href="https://www.facebook.com/artformsalon/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
      <li><a href="https://twitter.com/artformsalon?lang=en" target="_blank"><i class="fab fa-twitter-square"></i></a></li>
      <li><a href="https://www.yelp.com/biz/artform-salon-east-greenwich" target="_blank"><i class="fab fa-yelp"></i></a></li>
    </ul>
  </div>
</nav>
<%# <div id="top-space" style="margin-top: 750px;"></div>%>
