<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <% include ../partials/nav.ejs %>
    <div class="container subpage" style="margin-top: 170px;">
      <div class="row">
        <div class="col-md-12">
          <h1 class="subpage-header">CONTACT US</h1>
          <br>
          <p style="text-align:center; font-size:22px;"><i class="fas fa-phone"></i> 401.885.3900</p>
          <p style="text-align:center; font-size:22px;"><i class="fas fa-at"></i> artformsalon@gmail.com</p>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2981.6681379613274!2d-71.46858578456629!3d41.64130417924169!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x5b7ce524e07c0331!2sArtform+Salon!5e0!3m2!1sen!2sus!4v1534781132448" width="800" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <br>
    <% include ../partials/footer.ejs %>
  </body>
</html>
