<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <script>
      AOS.init();
    </script>
    <% include ../partials/nav.ejs %>
    <div class="container subpage" style="margin-top: 170px;">
      <div class="row">
        <div class="col-md-12">
          <h1 class="subpage-header">MEET OUR TEAM</h1>
          <div class="staff-paragraph">
            <div class="col-md-12 staff-background">
              <div class="col-md-3">
                <img src="/images/IMG_1539.jpg" alt="Wendy" width="80%" style="border-radius:50%;">
              </div>
              <div class="col-md-9">
                <h3 class="staff-name">Wendy Scalzo</h3>
                <p>Wendy has over 22 years of experience as a hairstylist, with 10 of those years as a licensed educator.  She served at Toni&Guy Hairdressing Academy as their advanced educator for both cuts and colors.  Education is at the forefront of everything she does.  Whether training her staff or educating her guests as to what best suits them, Wendy always delivers.  Wendy has participated in numerous advanced trainings and certifications in Texas, Los Angeles, New York and New England.  These include:  New York Fashion Week, Style Week New England, Betsey Johnson, Icon, Toni&Guy, TIGI, Keratin Complex, Redken, Hotheads Extensions, Aqua Extensions, Kemon and Electric.  With art as her passion and hair as her canvas, Artform Salon was born!</p>
              </div>
            </div>
            <div class="col-md-12 staff-background">
              <div class="col-md-3">
                <img src="/images/IMG_1536.jpg" alt="Leanne" width="80%" style="border-radius:50%;">
              </div>
              <div class="col-md-9">
                <h3 class="staff-name">Leanne Blevins</h3>
                <p>Leanne is the newest addition to the Artform team! She graduated from Toni&Guy Hairdressing academy April 2017. She is up to date on all the latest hair trends and has experience working with a wide variety of hair types. She is certified in Keratin Complex smoothing treatments and has a passion for balayage and highlights. Always accepting new clients, call 401-885-3900 to book an appointment with her!</p>
              </div>
            </div>
            <div class="col-md-12 staff-background">
              <div class="col-md-3">
                <img src="/images/IMG_1528.jpg" alt="Samantha" width="80%" style="border-radius:50%;">
              </div>
              <div class="col-md-9">
                <h3 class="staff-name">Samantha Giarusso</h3>
                <p>Samantha is a Hairstylist and Nail technician, graduating from Toni&Guy Hairdressing Academy in 2012. She is someone who thrives on creativity, art and challenges. Samantha is a former educator for Toni&Guy, and has advanced training in Nail Enhancements, Custom Nail Art, Haircuts, Keratin Complex Smoothing Treatments, Hotheads Tape-In Extensions and various Color Techniques. It is her goal to customize all of her work to each and every clients specific needs and lifestyle. </p>
              </div>
            </div>
            <div class="col-md-12 staff-background">
              <div class="col-md-3">
                <img src="/images/IMG_1531.jpg" alt="Alexa" width="80%" style="border-radius:50%;">
              </div>
              <div class="col-md-9">
                <h3 class="staff-name">Alexa Northup</h3>
                <p>Alexa is a graduate of Toni&Guy Hairdressing Academy and has been behind the chair since 2014. Alexa is Keratin Complex certified, Hotheads Extension certified and has education in Advanced Balayage and Blonding Techniques!  She is also educated in the Artistry of Airbrush Makeup and Bridal Styles!  Her greatest quality is her passion to make each and every client feel their most beautiful!  In the end her goal is to create confidence and customize your experience just for you!</p>
              </div>
            </div>
            <div class="col-md-12 staff-background">
              <div class="col-md-3">
                <img src="/images/IMG_1529.jpg" alt="Kourtney" width="80%" style="border-radius:50%;">
              </div>
              <div class="col-md-9">
                <h3 class="staff-name">Kourtney Vingi</h3>
                <p>Kourtney has been a hair stylist for 7 years, she also graduated from Toni&Guy in 2011. She is very passionate to help you find exactly what look you are going for. She specializes in color, fantasy colors, & various highlighting & balayage techniques. She also is certified in Hot Heads Tape in Extensions & keratin complex treatments! Her goal is to make sure you leave her chair feeling fabulous & looking fantastic - inside & out!</p>
              </div>
            </div>
            <div class="col-md-12 staff-background">
              <div class="col-md-3">
                <img src="/images/IMG_1530.jpg" alt="Haley" width="80%" style="border-radius:50%;">
              </div>
              <div class="col-md-9">
                <h3 class="staff-name">Haley Pare</h3>
                <p>Haley specializes in eyelash extensions and hair coloring. She has been an eyelash technician for 3 years now and is always continuing to learn new techniques. She has taken classes in New York City, LA and many local ones in Rhode Island. Her favorite part of what she does is giving people instant confidence along with bringing out their natural beauty.</p>
              </div>
            </div>
            <div class="col-md-12 staff-background">
              <div class="col-md-3">
                <img src="/images/IMG_1538.jpg" alt="Kat" width="80%" style="border-radius:50%;">
              </div>
              <div class="col-md-9">
                <h3 class="staff-name">Kat Gaglione</h3>
                <p>Kat is an extremely passionate stylist, that is fully immersing herself of the ins and outs of the industry. She is a Kemon Certified Colorist, and recently became a Kemon Regional Educator. Her Mission is to bring safer, sustainable, and cleaner alternatives to her clients and to educate them on the integrity of their hair and the integrity of our wellbeing. Honesty and Transparency is the foundation of her brand and she hopes to “YoGreen” with you!</p>
              </div>
            </div>
            <div class="col-md-12 staff-background">
              <div class="col-md-3">
                <img src="/images/IMG_1526.jpg" alt="Carly" width="80%" style="border-radius:50%;">
              </div>
              <div class="col-md-9">
                <h3 class="staff-name">Carly Williams</h3>
                <p>Carly is a hair and makeup artist here at Artform Salon. She graduated from Toni&Guy Hairdressing Academy in 2014. She specializes in color, balayage/highlight techniques, custom haircuts and also has a passion for airbrush makeup. Carly offers Keratin complex treatments, Hotheads hair extensions and hair treats hair extensions as well. Her daily goal is to make sure everyone leaves the salon feeling and looking beautiful!</p>
              </div>
            </div>
            <div class="col-md-12 staff-background">
              <div class="col-md-3">
                <img src="/images/IMG_1532.jpg" alt="Abby" width="80%" style="border-radius:50%;">
              </div>
              <div class="col-md-9">
                <h3 class="staff-name">Abby Scalzo</h3>
                <p>Abby has been behind the chair since she graduated Toni&Guy in 2014. She is extremely passionate. Specializing in fun colors, highlights, balayage, keratin treatments and eyelash extensions. Abby has been a certified Eyelash Technician for 2 years offering classic and volume lashes. Customizing a look just for you! She is always looking to grow her education and keep updated on all of the new trends. Her mission statement is to continue to make the world more beautiful one client at a time! </p>
              </div>
            </div>
            <div class="col-md-12 staff-background">
              <div class="col-md-3">
                <img src="/images/IMG_1527.jpg" alt="Janice" width="80%" style="border-radius:50%;">
              </div>
              <div class="col-md-9">
                <h3 class="staff-name">Janice Teixeira</h3>
                <p>Janice is our nail tech and hairdresser. She began her love of hair and nails at Toni&Guy Hairdressing Academy. Janice exclusively offers OPI Powder Perfection Dip nail service along with gel manicures, facial waxing, blow dries and updos! She is looking forward to furthering her education, offering new services , and seeing you in her chair!</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <% include ../partials/footer.ejs %>
  </body>
</html>
